{% load static %}

{% block content %}





      <!-- header area start -->
      <header>
         <div class="header__area">
            <div class="header__top grey-bg pl-55 pr-55 header__padding d-none d-lg-block">
               <div class="container-fluid">
                  <div class="row align-items-center">
                     <div class="col-xxl-6 col-xl-8 col-lg-8">
                        <div class="header__top-left">
                           <div class="header__info">
                              <ul>
                                 <li>
                                    <a href="tel:+012-345-6789"><i class="fal fa-phone"></i> +65 6850 5025</a>
                                 </li>
                                 <li>
                                    <a href="#"><i class="far fa-envelope-open"></i> <span class="__cf_email__">info@paintingservicesingapore.sg</span></a>
                                 </li>
                                
                              </ul>
                           </div>
                        </div>
                     </div>
               


                  </div>
               </div>
            </div>
            <div id="header-sticky" class="header__bottom pl-55 pr-55 header__padding">
               <div class="container-fluid">
                  <div class="row align-items-center">
                     <div class="col-xxl-3 col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="logo">
                           <a href="{% url 'homeapp:homepage' %}">
                              <img src="assets/img/logo/logo.png" alt="logo">
                           </a>
                        </div>
                     </div>
                     <div class="col-xxl-6 col-xl-6 col-lg-7 d-none d-lg-block">
                        <div class="header__bottom-mid d-flex align-items-center">
                           <div class="main-menu">
                              <nav id="mobile-menu">
                                 <ul>
                                    <li class="active">
                                       <a href="{% url 'homeapp:homepage' %}">Home</a></li>
                                    <li>
                                       <a href="{% url 'homeapp:aboutpage' %}">About</a>
                                    </li>
                                    <li>
                                       <a href="#">Services <i class="far fa-angle-down"></i></a>
                                       <ul class="submenu">
                                          {% for service in all_services %}
                                          <li><a href="{% url 'homeapp:services_details' service.pk %}">{{service.name}}</a></li>
                                          {% endfor %}
                                       </ul>
                                    </li>
                                    <li>
                                       <a href="{% url 'homeapp:workpage' %}">Our works</a>
                                   
                                    </li>
                                    <li>
                                       <a href="blog.html">News <i class="far fa-angle-down"></i></a>
                                       <ul class="submenu">
                                          <li><a href="blog.html">News</a></li>
                                          <li><a href="blog-details.html">News Details</a></li>
                                       </ul>
                                    </li>
                                    <li>
                                       <a href="{% url 'homeapp:contactpage' %}">Conatct</a>
                                    </li>
                                 </ul>
                              </nav>
                           </div>
                        </div>
                     </div>
                     <div class="col-xxl-3 col-xl-4 col-lg-2 col-md-6 col-sm-6 col-6">
                        <div class="header__bottom-right d-flex align-items-center justify-content-end">
                           <div class="header__social mr-35 d-none d-xl-block">
                              <ul>
                                 <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                 <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                 <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                 <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                              </ul>
                           </div>
                           <div class="header__action">
                              <button type="button" class="dot-hamburger-btn sidebar-toggle-btn">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- header area end -->

      <!-- sidebar area start -->
      <div class="sidebar__area">
         <div class="sidebar__wrapper">
            <div class="sidebar__close">
               <button class="sidebar__close-btn" id="sidebar__close-btn">
                  <i class="fal fa-times"></i>
               </button>
            </div>
            <div class="sidebar__content">
               <div class="sidebar__logo mb-40">
                  <a href="index.html">
                  <img src="assets/img/logo/logo.png" alt="logo">
                  </a>
               </div>
               <div class="sidebar__search mb-25">
                  <form action="#">
                     <input type="text" placeholder="What are you searching for?">
                     <button type="submit" ><i class="far fa-search"></i></button>
                  </form>
               </div>
               <div class="mobile-menu fix"></div>
               <div class="sidebar__text d-none d-lg-block">
                  <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and will give you a complete account of the system and expound the actual teachings of the great explore</p>
               </div>
               <div class="sidebar__img d-none d-lg-block mb-20">
                  <div class="row gx-2">
                     <div class="col-4">
                        <div class="sidebar__single-img w-img mb-10">
                           <a class="popup-image" href="assets/img/sidebar/sidebar-1.jpg">
                              <img src="assets/img/sidebar/sidebar-1.jpg" alt="">
                           </a>
                        </div>
                     </div>
                     <div class="col-4">
                        <div class="sidebar__single-img w-img mb-10">
                           <a class="popup-image" href="assets/img/sidebar/sidebar-2.jpg">
                              <img src="assets/img/sidebar/sidebar-2.jpg" alt="">
                           </a>
                        </div>
                     </div>
                     <div class="col-4">
                        <div class="sidebar__single-img w-img mb-10">
                           <a class="popup-image" href="assets/img/sidebar/sidebar-3.jpg">
                              <img src="assets/img/sidebar/sidebar-3.jpg" alt="">
                           </a>
                        </div>
                     </div>
                     <div class="col-4">
                        <div class="sidebar__single-img w-img mb-10">
                           <a class="popup-image" href="assets/img/sidebar/sidebar-4.jpg">
                              <img src="assets/img/sidebar/sidebar-4.jpg" alt="">
                           </a>
                        </div>
                     </div>
                     <div class="col-4">
                        <div class="sidebar__single-img w-img mb-10">
                           <a class="popup-image" href="assets/img/sidebar/sidebar-5.jpg">
                              <img src="assets/img/sidebar/sidebar-5.jpg" alt="">
                           </a>
                        </div>
                     </div>
                     <div class="col-4">
                        <div class="sidebar__single-img w-img mb-10">
                           <a class="popup-image" href="assets/img/sidebar/sidebar-6.jpg">
                              <img src="assets/img/sidebar/sidebar-6.jpg" alt="">
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar__map d-none d-lg-block mb-15">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29176.030811137334!2d90.3883827!3d23.924917699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1605272373598!5m2!1sen!2sbd"></iframe>
               </div>
               <div class="sidebar__contact mt-30 mb-20">
                  <h4>Contact Info</h4>

                  <ul>
                     <li class="d-flex align-items-center">
                        <div class="sidebar__contact-icon mr-15">
                           <i class="fal fa-map-marker-alt"></i>
                        </div>
                        <div class="sidebar__contact-text">
                           <a target="_blank" href="https://www.google.com/maps/place/Dhaka/@23.7806207,90.3492859,12z/data=!3m1!4b1!4m5!3m4!1s0x3755b8b087026b81:0x8fa563bbdd5904c2!8m2!3d23.8104753!4d90.4119873">12/A, Mirnada City Tower, NYC</a>
                        </div>
                     </li>
                     <li class="d-flex align-items-center">
                        <div class="sidebar__contact-icon mr-15">
                           <i class="far fa-phone"></i>
                        </div>
                        <div class="sidebar__contact-text">
                           <a href="https://themepure.net/cdn-cgi/l/email-protection#dcafa9acacb3aea89cbbb1bdb5b0f2bfb3b1">088889797697</a>
                        </div>
                     </li>
                     <li class="d-flex align-items-center">
                        <div class="sidebar__contact-icon mr-15">
                           <i class="fal fa-envelope"></i>
                        </div>
                        <div class="sidebar__contact-text">
                           <a href="tel:+012-345-6789"><span class="__cf_email__" data-cfemail="2d5e585d5d425f596d404c4441034e4240">[email&#160;protected]</span></a>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="sidebar__social">
                  <ul>
                     <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                     <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                     <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                     <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>


{% endblock %}