{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="page__title-area pt-160 pb-165 p-relative page__title-overlay" data-background="{% static 'img/page-title/page-title-1.jpg' %}">
    <div class="container">
       <div class="row">
          <div class="col-xxl-12">
             <div class="page__title-wrapper">
                <h3 class="page__title">Contact Us</h3>
                <nav aria-label="breadcrumb">
                   <ol class="breadcrumb">
                     <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                     <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                   </ol>
                 </nav>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- page title area end -->

 <!-- contact area start -->
 <section class="contact__area contact__padding pt-70 pl-55 pr-55">
    <div class="container-fluid">
       <div class="row">

          <div class="col-xxl-12 col-xl-12">
             <div class="contact__item green-bg-2 d-sm-flex align-items-start mb-30">
                <div class="contact__icon mr-35">
                   <i class="far fa-map-marker-alt"></i>
                </div>
                <div class="contact__content">
                   <h5>Main Location</h5>
                   <p>
                      <a target="_blank" href="#">7B Aliwal Street Chenn Leon Building, Singapore 199900</a>
                   </p>
                </div>
             </div>
          </div>

          <div class="col-xxl-6 col-xl-6">
             <div class="contact__item green-bg-2 d-sm-flex align-items-start mb-30">
                <div class="contact__icon mr-35">
                   <i class="far fa-envelope-open"></i>
                </div>
                <div class="contact__content">
                   <h5>Email Address</h5>
                   <p>
                      <a href="mailto:info@paintingservicesingapore.sg">
                         <span class="__cf_email__">info@paintingservicesingapore.sg</span></a>
                   </p>
              
                </div>
             </div>
          </div>

          <div class="col-xxl-6 col-xl-6">
             <div class="contact__item green-bg-2 d-sm-flex align-items-start mb-30">
                <div class="contact__icon mr-35">
                   <i class="far fa-phone-plus"></i>
                </div>
                <div class="contact__content">
                   <h5>Phone Number</h5>
                   <p>
                      <a href="tel:68505025">68505025</a>
              
                   </p>
                </div>
             </div>
          </div>


       </div>
    </div>
 </section>
 <!-- contact area end -->

 <!-- contact area start -->
 <section class="contact__area pt-90 pb-130">
    <div class="container">
       <div class="row">
          <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
             <div class="section__title-wrapper mb-70 text-center">
                <span class="section__title-pre section__title-pre-3 center">PS PAINTING SERVICES SINGAPORE</span>
                <h2 class="section__title section__title-2">LET'S GET IN TOUCH </h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-xxl-12">
             <div class="contact__wrapper-4">
                <div class="contact__form-3 contact__form-4">


                      <form action="#" method="POST">

                        {% if messages %}
                           <ul class="messages">
                              {% for message in messages %}
                              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                              {% endfor %}
                           </ul>
                           {% endif %}

                               {% csrf_token %}

                               <div class="row">
                                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                     <div class="contact__input-3">
                                        <input name="name" type="text" placeholder="Your Full Name">
                                        <i class="far fa-user"></i>
                                     </div>
                                  </div>
                                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                     <div class="contact__input-3">
                                        <input name="email" type="email" placeholder="Your Email Address">
                                        <i class="far fa-envelope"></i>
                                     </div>
                                  </div>
                                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                     <div class="contact__input-3">
                                        <input name="phone" type="tel" placeholder="Phone Number">
                                        <i class="far fa-phone"></i>
                                     </div>
                                  </div>
                                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                     <div class="contact__input-3">
                                        <select name="services">
                                           <option >Select Services</option>
                                           {% for service in all_services %}
                                           <option >{{service.name}}</option>
                                           {% endfor %}
                  
                                        </select>
                                     </div>
                                  </div>
                                  <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                                     <div class="contact__input-3">
                                        <textarea name="message" placeholder="Message"></textarea>
                                     </div>
                                  </div>
                                  <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                                     <div class="contact__btn-3 contact__btn-4">
                                        <button type="submit" class="r-btn r-btn-yellow w-100">send message <i class="far fa-arrow-right"></i></button>
                                     </div>
                                  </div>
                               </div>
                            </form>


                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- contact area end -->

 <div class="contact__map">
    <div class="container p-0">
       <div class="row gx-0">
          <div class="col-xxl-12">
             <div class="contact__map-wrapper p-relative">
                <img class="map-pin" src="assets/img/contact/map-pin.png" alt="">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7977.577175975589!2d103.861329!3d1.301765!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x365ad5e4fd3cf54!2sPS%20Painting%20Service%20Singapore%20-%20Condo%2C%20HDB%2C%20House%20%26%20Room!5e0!3m2!1sen!2smy!4v1648537192620!5m2!1sen!2smy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
             </div>
          </div>
       </div>
    </div>
 </div>

{% endblock %}