{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- slider area start -->
  <section class="slider__area">
   <div class="slider__active swiper-container"> 
      <div class="swiper-wrapper">

         {% for slider in sliders %}
         <div class="single-slider swiper-slide slider__height slider__overlay d-flex align-items-center" data-background="{{slider.slider_image.url}}">
            <div class="container">
               <div class="row">
                  <div class="col-xxl-12">
                     <div class="slider__content text-center">
                        {% comment %} <span data-animation="fadeInUp" data-delay=".2s">25 Years Of Experience</span> {% endcomment %}
                        <h2 class="slider__title" data-animation="fadeInUp" data-delay=".4s">{{slider.text}}</h2>

                        <div class="slider__btn" data-animation="fadeInUp" data-delay=".6s">
                           <a href ="{% url 'homeapp:contactpage' %}" class="r-btn r-btn-green mr-10">get started <i class="far fa-arrow-right"></i></a>
                           <a href ="{% url 'homeapp:servicepage' %}" class="r-btn">our services<i class="far fa-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}



      </div>
      <div class="slider__nav">
         <div class="swiper-button-prev swiper-slider-nav">
            <i class="fal fa-angle-left"></i>
         </div>
         <div class="swiper-button-next swiper-slider-nav">
            <i class="far fa-angle-right"></i>
         </div>
      </div>
   </div>
</section>
<!-- slider area end -->



      <!-- features area start -->
      <section class="features__area pt-125 pb-100 fix">
       <div class="container">
          <div class="row">
             <div class="col-xxl-5 col-xl-6 col-lg-6">
                <div class="features__wrapper-3 features__wrapper-border pr-45">
                   <div class="section__title-wrapper mb-80 text-lg-end">
                      {% comment %} <span class="section__title-pre section__title-pre-3 right">Who We Are</span> {% endcomment %}
                      <h2 class="section__title section__title-2"> PS Painting <br>  Services Singapore</h2>
                   </div> 
                </div>
             </div>
             <div class="col-xxl-6 offset-xxl-1 col-xl-6 col-lg-6">
                <div class="features__wrapper-3">
                   <p>Who likes living in a space that is just whitewashed or white in colour? Isn’t it boring? Don’t we all need some colour in our lives? Believe it or not, the kind of colours we choose for our walls or homes or offices, affects our thinking and personality to a certain extent. It is therefore very important to choose colours with great attention and care. For example, too many bright colours in a bedroom will never let you calm down or relax. Subconsciously, bright colours create hyperactiveness and you can never be at proper peace.</p>
                </div>
             </div>
          </div>

       </div>
    </section>
    <!-- features area end -->


    <section class="why__area pt-130 pb-130">
      <div class="container">
         <div class="row">
            <div class="col-xxl-7 col-xl-6 col-lg-6">
               <div class="why__thumb why__thumb-2 pr-70 w-img">
                  <img style="width: 500px;height: 375px;" src="{% static 'img/subimg.webp' %}" alt="">
               </div>
            </div>
            <div class="col-xxl-5 col-xl-6 col-lg-6">
               <div class="why__wrapper-2 pt-25 pr-30">
                  <div class="section__title-wrapper-2 mb-30">
                     <h2 class="section__title section__title-2"> PS Painting <br>  Services Singapore</h2>
                  </div>
                  <p>Who likes living in a space that is just whitewashed or white in colour? Isn’t it boring? Don’t we all need some colour in our lives? Believe it or not, the kind of colours we choose for our walls or homes or offices, affects our thinking and personality to a certain extent. It is therefore very important to choose colours with great attention and care. For example, too many bright colours in a bedroom will never let you calm down or relax. Subconsciously, bright colours create hyperactiveness and you can never be at proper peace.</p>
  
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- why area end -->




            <!-- services area start -->
            <section class="services__area p-relative z-index-11 pt-130">
             <div class="container">
                <div class="row">
                   <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                      <div class="section__title-wrapper mb-80 text-center">
                         <span class="section__title-pre section__title-pre-3 center">What We Offer</span>
                         <h2 class="section__title section__title-2">We Help You For Made Your Dream Painting</h2>
                      </div>
                   </div>
                </div>
     
                <div class="row">
                  {% for service in services%}
            

                  <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                     <div class="services__item services__item-2 p-relative mb-30">
                        <div class="services__thumb w-img">
                           <img src="{{service.thumnail_images.url}}" alt="" style="height:250px;">
                        </div>
                        <div class="services__content services__content-2 text-center">
                           <div class="services__icon services__icon-2">
                              <i class="flaticon-paint-1"></i>
                           </div>
                           <h3 class="services__title">
                              <a href="{% url 'homeapp:services_details' service.pk %}">{{service.name}}</a>
                           </h3>
                 
                           <a href="{% url 'homeapp:services_details' service.pk %}" class="link-btn-2">
                              read more
                              <i class="far fa-arrow-right"></i>
                              <i class="far fa-arrow-right"></i>
                           </a>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
               </div>

             </div>
          </section>
          <!-- services area end -->


          <section class="testimonial__area pt-125 pb-130 grey-bg p-relative z-index-1">
            <div class="container">
               <div class="row">
                  <div class="col-xxl-6 offset-xxl-3">
                     <div class="section__title-wrapper mb-80 text-center">
                        {% comment %} <span class="section__title-pre section__title-pre-2 center">Call in action</span> {% endcomment %}
                        <div class="testimonial__thumb mb-25">
                           <img src="{% static 'img/testimonial/testi-1.jpg' %}" alt="">
                        </div>
                        <h2 class="section__title section__title-2">Need any help call us now!</h2>
                        <p>Feel Free To Call Us - +65 6850 5025</p>
                        <a href="tel:68505025" class="r-btn r-btn-yellow">Call to action <i class="far fa-arrow-right"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </section>


      <!-- testimonial area start -->
      <section class="testimonial__area testimonial__area-2 pt-310 pb-130" 
      data-background="{% static 'img/testimonial/03/testimonial-bg.jpg' %}">
       <div class="container">
          <div class="row">
             <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-8">
                <div class="testimonial__wrapper-3">
                   <div class="section__title-wrapper mb-60 ">
                      <span class="section__title-pre section__title-pre-3">Our Testimonials</span>
                      <h2 class="section__title section__title-2">What Our Clients Say About Us</h2>
                   </div>
                   
                   <div class="testimonial__slider-wrapper p-relative">
                      <div class="testimonial-pagination"></div>
                      <div class="testimonial__slider-3 swiper-container p-relative">
                         <div class="swiper-wrapper">

                           {% for review in reviews %}
                         <div class="testimonial__item-3 swiper-slide">
                            <div class="testimonial__content-3 white-bg">
                               <p> {{review.details}} </p>
                               <div class="testimonial__avater-info-3">
                                  <h4>{{review.name}}</h4>
                             
                               </div>
                            </div>
                        
                         </div>
                         {% endfor %}


                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- testimonial area end -->


          <!-- contact area start -->
          <section class="contact__area pt-90 pb-130">
             <div class="container">
                <div class="row">
                   <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                      <div class="section__title-wrapper mb-70 text-center">
                        <span class="section__title-pre section__title-pre-3 center">PS PAINTING SERVICES SINGAPORE</span>
                        <h2 class="section__title section__title-2">LET'S GET IN TOUCH </h2>
                      </div>
                   </div>
                </div>
                <div class="row">
                   <div class="col-xxl-12">
                      <div class="contact__wrapper-4">
                         <div class="contact__form-3 contact__form-4">


                               <form action="#" method="POST">

                                 {% if messages %}
                                 <ul class="messages">
                                    {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                 </ul>
                                 {% endif %}

                               {% csrf_token %}
                               <div class="row">
                                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                     <div class="contact__input-3">
                                        <input name="name" type="text" placeholder="Your Full Name">
                                        <i class="far fa-user"></i>
                                     </div>
                                  </div>
                                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                     <div class="contact__input-3">
                                        <input name="email" type="email" placeholder="Your Email Address">
                                        <i class="far fa-envelope"></i>
                                     </div>
                                  </div>
                                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                     <div class="contact__input-3">
                                        <input name="phone" type="tel" placeholder="Phone Number">
                                        <i class="far fa-phone"></i>
                                     </div>
                                  </div>
                                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                     <div class="contact__input-3">
                                        <select name="services">
                                           <option >Select Services</option>
                                           {% for service in all_services %}
                                           <option >{{service.name}}</option>
                                           {% endfor %}
                  
                                        </select>
                                     </div>
                                  </div>
                                  <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                                     <div class="contact__input-3">
                                        <textarea name="message" placeholder="Message"></textarea>
                                     </div>
                                  </div>
                                  <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                                     <div class="contact__btn-3 contact__btn-4">
                                        <button type="submit" class="r-btn r-btn-yellow w-100">send message <i class="far fa-arrow-right"></i></button>
                                     </div>
                                  </div>
                               </div>
                            </form>


                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </section>

          <div class="contact__map">
             <div class="container p-0">
                <div class="row gx-0">
                   <div class="col-xxl-12">
                      <div class="contact__map-wrapper p-relative">
                         <img class="map-pin" src="{% static 'img/contact/map-pin.png' %}" alt="">
                         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7977.577175975589!2d103.861329!3d1.301765!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x365ad5e4fd3cf54!2sPS%20Painting%20Service%20Singapore%20-%20Condo%2C%20HDB%2C%20House%20%26%20Room!5e0!3m2!1sen!2smy!4v1648537192620!5m2!1sen!2smy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                      </div>
                   </div>
                </div>
             </div>
          </div>


{% endblock %}