{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- services area start -->
    <section class="services__area p-relative z-index-1 pt-130 pb-555">
        <div class="services__bg" data-background="{% static 'img/services/02/services-bg-2.jpg' %}"></div>
        <div class="container">
           <div class="row">
              <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                 <div class="section__title-wrapper mb-80 text-center">
                    <span class="section__title-pre section__title-pre-white center">What We Offer</span>
                    <h2 class="section__title section__title-white">We Help You For Made Your Dream Painting</h2>
                 </div>
              </div>
           </div>


           <div class="row">
              <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                 <div class="services__item services__item-2 p-relative mb-30">
                    <div class="services__thumb w-img">
                       <img src="{% static 'img/services/services-1.jpg' %}" alt="">
                    </div>
                    <div class="services__content services__content-2 text-center">
                       <div class="services__icon services__icon-2">
                          <i class="flaticon-paint-1"></i>
                       </div>
                       <h3 class="services__title">
                          <a href="services-details.html">Residential Interior</a>
                       </h3>
                       <p>Sed ut perspiciatis unde omnis iste natus error sit volupt ateaccu</p>
                       <a href="services-details.html" class="link-btn-2">
                          read more
                          <i class="far fa-arrow-right"></i>
                          <i class="far fa-arrow-right"></i>
                       </a>
                    </div>
                 </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                 <div class="services__item services__item-2 p-relative mb-30">
                    <div class="services__thumb w-img">
                       <img src="{% static 'img/services/services-2.jpg' %}" alt="">
                    </div>
                    <div class="services__content services__content-2 text-center">
                       <div class="services__icon services__icon-2">
                          <i class="flaticon-varnish"></i>
                       </div>
                       <h3 class="services__title">
                          <a href="services-details.html">Commercial Interior</a>
                       </h3>
                       <p>Sed ut perspiciatis unde omnis iste natus error sit volupt ateaccu</p>
                       <a href="services-details.html" class="link-btn-2">
                          read more
                          <i class="far fa-arrow-right"></i>
                          <i class="far fa-arrow-right"></i>
                       </a>
                    </div>
                 </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                 <div class="services__item services__item-2 p-relative mb-30">
                    <div class="services__thumb w-img">
                       <img src="{% static 'img/services/services-3.jpg' %}" alt="">
                    </div>
                    <div class="services__content services__content-2 text-center">
                       <div class="services__icon services__icon-2">
                          <i class="flaticon-paint-2"></i>
                       </div>
                       <h3 class="services__title">
                          <a href="services-details.html">Industrial Interior</a>
                       </h3>
                       <p>Sed ut perspiciatis unde omnis iste natus error sit volupt ateaccu</p>
                       <a href="services-details.html" class="link-btn-2">
                          read more
                          <i class="far fa-arrow-right"></i>
                          <i class="far fa-arrow-right"></i>
                       </a>
                    </div>
                 </div>
              </div>
           </div>


           <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
               <div class="services__item services__item-2 p-relative mb-30">
                  <div class="services__thumb w-img">
                     <img src="{% static 'img/services/services-1.jpg' %}" alt="">
                  </div>
                  <div class="services__content services__content-2 text-center">
                     <div class="services__icon services__icon-2">
                        <i class="flaticon-paint-1"></i>
                     </div>
                     <h3 class="services__title">
                        <a href="services-details.html">Residential Interior</a>
                     </h3>
                     <p>Sed ut perspiciatis unde omnis iste natus error sit volupt ateaccu</p>
                     <a href="services-details.html" class="link-btn-2">
                        read more
                        <i class="far fa-arrow-right"></i>
                        <i class="far fa-arrow-right"></i>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
               <div class="services__item services__item-2 p-relative mb-30">
                  <div class="services__thumb w-img">
                     <img src="{% static 'img/services/services-2.jpg' %}" alt="">
                  </div>
                  <div class="services__content services__content-2 text-center">
                     <div class="services__icon services__icon-2">
                        <i class="flaticon-varnish"></i>
                     </div>
                     <h3 class="services__title">
                        <a href="services-details.html">Commercial Interior</a>
                     </h3>
                     <p>Sed ut perspiciatis unde omnis iste natus error sit volupt ateaccu</p>
                     <a href="services-details.html" class="link-btn-2">
                        read more
                        <i class="far fa-arrow-right"></i>
                        <i class="far fa-arrow-right"></i>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
               <div class="services__item services__item-2 p-relative mb-30">
                  <div class="services__thumb w-img">
                     <img src="{% static 'img/services/services-3.jpg' %}" alt="">
                  </div>
                  <div class="services__content services__content-2 text-center">
                     <div class="services__icon services__icon-2">
                        <i class="flaticon-paint-2"></i>
                     </div>
                     <h3 class="services__title">
                        <a href="services-details.html">Industrial Interior</a>
                     </h3>
                     <p>Sed ut perspiciatis unde omnis iste natus error sit volupt ateaccu</p>
                     <a href="services-details.html" class="link-btn-2">
                        read more
                        <i class="far fa-arrow-right"></i>
                        <i class="far fa-arrow-right"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>


        </div>
     </section>
     <!-- services area end -->

{% endblock%}