{% extends 'base.html' %}
{% load static %}

{% block content %}

   <!-- page title area start -->
   <section class="page__title-area pt-160 pb-165 p-relative page__title-overlay" data-background="{% static 'img/page-title/page-title-1.jpg' %}">
    <div class="container">
       <div class="row">
          <div class="col-xxl-12">
             <div class="page__title-wrapper">
                <h3 class="page__title">Project Grid</h3>
                <nav aria-label="breadcrumb">
                   <ol class="breadcrumb">
                     <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                     <li class="breadcrumb-item active" aria-current="page">Project Grid</li>
                   </ol>
                 </nav>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- page title area end -->

 <!-- portfolio area start -->
 <section class="portfolio__area pt-125 pb-100">
    <div class="container">
       <div class="row">
          <div class="col-xxl-6 offset-xxl-3 col-xl-8 offset-xl-2 col-lg-8 offset-lg-2">
             <div class="section__title-wrapper mb-80 text-center">
                <span class="section__title-pre section__title-pre-3 center">Latest Project</span>
                <h2 class="section__title section__title-2">Explore Our Professional Interior Projects</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
             <div class="portfolio__item-3 mb-30 p-relative fix">
                <div class="portfolio__thumb w-img">
                   <img src="assets/img/portfolio/03/portfolio-1.jpg" alt="">
                </div>
                <div class="portfolio__content-3 transition-3 d-flex align-items-center justify-content-between">
                   <div class="portfolio__content-3-inner">
                      <h3 class="portfolio__title-3">
                         <a href="portfolio-details.html">Painting Outside</a>
                      </h3>
                      <p>Color Painting Services</p>
                   </div>
                   <div class="portfolio__plus-3 transition-3">
                      <a href="assets/img/portfolio/03/portfolio-1.jpg" class="popup-image"><i class="far fa-plus"></i></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
             <div class="portfolio__item-3 mb-30 p-relative fix">
                <div class="portfolio__thumb w-img">
                   <img src="assets/img/portfolio/03/portfolio-2.jpg" alt="">
                </div>
                <div class="portfolio__content-3 transition-3 d-flex align-items-center justify-content-between">
                   <div class="portfolio__content-3-inner">
                      <h3 class="portfolio__title-3">
                         <a href="portfolio-details.html">Painting Outside</a>
                      </h3>
                      <p>Color Painting Services</p>
                   </div>
                   <div class="portfolio__plus-3">
                      <a href="assets/img/portfolio/03/portfolio-2.jpg" class="popup-image"><i class="far fa-plus"></i></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
             <div class="portfolio__item-3 mb-30 p-relative fix">
                <div class="portfolio__thumb w-img">
                   <img src="assets/img/portfolio/03/portfolio-3.jpg" alt="">
                </div>
                <div class="portfolio__content-3 transition-3 d-flex align-items-center justify-content-between">
                   <div class="portfolio__content-3-inner">
                      <h3 class="portfolio__title-3">
                         <a href="portfolio-details.html">Painting Outside</a>
                      </h3>
                      <p>Color Painting Services</p>
                   </div>
                   <div class="portfolio__plus-3 transition-3">
                      <a href="assets/img/portfolio/03/portfolio-3.jpg" class="popup-image"><i class="far fa-plus"></i></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
             <div class="portfolio__item-3 mb-30 p-relative fix">
                <div class="portfolio__thumb w-img">
                   <img src="assets/img/portfolio/03/portfolio-4.jpg" alt="">
                </div>
                <div class="portfolio__content-3 transition-3 d-flex align-items-center justify-content-between">
                   <div class="portfolio__content-3-inner">
                      <h3 class="portfolio__title-3">
                         <a href="portfolio-details.html">Painting Outside</a>
                      </h3>
                      <p>Color Painting Services</p>
                   </div>
                   <div class="portfolio__plus-3 transition-3">
                      <a href="assets/img/portfolio/03/portfolio-4.jpg" class="popup-image"><i class="far fa-plus"></i></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
             <div class="portfolio__item-3 mb-30 p-relative fix">
                <div class="portfolio__thumb w-img">
                   <img src="assets/img/portfolio/03/portfolio-5.jpg" alt="">
                </div>
                <div class="portfolio__content-3 transition-3 d-flex align-items-center justify-content-between">
                   <div class="portfolio__content-3-inner">
                      <h3 class="portfolio__title-3">
                         <a href="portfolio-details.html">Painting Outside</a>
                      </h3>
                      <p>Color Painting Services</p>
                   </div>
                   <div class="portfolio__plus-3 transition-3">
                      <a href="assets/img/portfolio/03/portfolio-5.jpg" class="popup-image"><i class="far fa-plus"></i></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
             <div class="portfolio__item-3 mb-30 p-relative fix">
                <div class="portfolio__thumb w-img">
                   <img src="assets/img/portfolio/03/portfolio-6.jpg" alt="">
                </div>
                <div class="portfolio__content-3 transition-3 d-flex align-items-center justify-content-between">
                   <div class="portfolio__content-3-inner">
                      <h3 class="portfolio__title-3">
                         <a href="portfolio-details.html">Painting Outside</a>
                      </h3>
                      <p>Color Painting Services</p>
                   </div>
                   <div class="portfolio__plus-3 transition-3">
                      <a href="assets/img/portfolio/03/portfolio-6.jpg" class="popup-image"><i class="far fa-plus"></i></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
             <div class="portfolio__item-3 mb-30 p-relative fix">
                <div class="portfolio__thumb w-img">
                   <img src="assets/img/portfolio/03/portfolio-7.jpg" alt="">
                </div>
                <div class="portfolio__content-3 transition-3 d-flex align-items-center justify-content-between">
                   <div class="portfolio__content-3-inner">
                      <h3 class="portfolio__title-3">
                         <a href="portfolio-details.html">Painting Outside</a>
                      </h3>
                      <p>Color Painting Services</p>
                   </div>
                   <div class="portfolio__plus-3 transition-3">
                      <a href="assets/img/portfolio/03/portfolio-7.jpg" class="popup-image"><i class="far fa-plus"></i></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
             <div class="portfolio__item-3 mb-30 p-relative fix">
                <div class="portfolio__thumb w-img">
                   <img src="assets/img/portfolio/03/portfolio-8.jpg" alt="">
                </div>
                <div class="portfolio__content-3 transition-3 d-flex align-items-center justify-content-between">
                   <div class="portfolio__content-3-inner">
                      <h3 class="portfolio__title-3">
                         <a href="portfolio-details.html">Painting Outside</a>
                      </h3>
                      <p>Color Painting Services</p>
                   </div>
                   <div class="portfolio__plus-3 transition-3">
                      <a href="assets/img/portfolio/03/portfolio-8.jpg" class="popup-image"><i class="far fa-plus"></i></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
             <div class="portfolio__item-3 mb-30 p-relative fix">
                <div class="portfolio__thumb w-img">
                   <img src="assets/img/portfolio/03/portfolio-9.jpg" alt="">
                </div>
                <div class="portfolio__content-3 transition-3 d-flex align-items-center justify-content-between">
                   <div class="portfolio__content-3-inner">
                      <h3 class="portfolio__title-3">
                         <a href="portfolio-details.html">Painting Outside</a>
                      </h3>
                      <p>Color Painting Services</p>
                   </div>
                   <div class="portfolio__plus-3 transition-3">
                      <a href="assets/img/portfolio/03/portfolio-9.jpg" class="popup-image"><i class="far fa-plus"></i></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
             <div class="portfolio__item-3 mb-30 p-relative fix">
                <div class="portfolio__thumb w-img">
                   <img src="assets/img/portfolio/03/portfolio-10.jpg" alt="">
                </div>
                <div class="portfolio__content-3 transition-3 d-flex align-items-center justify-content-between">
                   <div class="portfolio__content-3-inner">
                      <h3 class="portfolio__title-3">
                         <a href="portfolio-details.html">Painting Outside</a>
                      </h3>
                      <p>Color Painting Services</p>
                   </div>
                   <div class="portfolio__plus-3 transition-3">
                      <a href="assets/img/portfolio/03/portfolio-10.jpg" class="popup-image"><i class="far fa-plus"></i></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
             <div class="portfolio__item-3 mb-30 p-relative fix">
                <div class="portfolio__thumb w-img">
                   <img src="assets/img/portfolio/03/portfolio-11.jpg" alt="">
                </div>
                <div class="portfolio__content-3 transition-3 d-flex align-items-center justify-content-between">
                   <div class="portfolio__content-3-inner">
                      <h3 class="portfolio__title-3">
                         <a href="portfolio-details.html">Painting Outside</a>
                      </h3>
                      <p>Color Painting Services</p>
                   </div>
                   <div class="portfolio__plus-3 transition-3">
                      <a href="assets/img/portfolio/03/portfolio-11.jpg" class="popup-image"><i class="far fa-plus"></i></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
             <div class="portfolio__item-3 mb-30 p-relative fix">
                <div class="portfolio__thumb w-img">
                   <img src="assets/img/portfolio/03/portfolio-12.jpg" alt="">
                </div>
                <div class="portfolio__content-3 transition-3 d-flex align-items-center justify-content-between">
                   <div class="portfolio__content-3-inner">
                      <h3 class="portfolio__title-3">
                         <a href="portfolio-details.html">Painting Outside</a>
                      </h3>
                      <p>Color Painting Services</p>
                   </div>
                   <div class="portfolio__plus-3 transition-3">
                      <a href="assets/img/portfolio/03/portfolio-12.jpg" class="popup-image"><i class="far fa-plus"></i></a>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-xxl-12">
             <div class="portfolio__more text-center mt-50">
                <a href="portfolio.html" class="r-btn r-btn-yellow">view more project <i class="far fa-arrow-right"></i></a>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- portfolio area end -->

 <!-- contact area start -->
 <section class="contact__area pt-125 pb-130 green-bg-2 p-relative z-index-1 fix">
    <div class="contact__bg" data-background="assets/img/contact/map.png"></div>
    <div class="container">
       <div class="row">
          <div class="col-xxl-6 col-xxl-6 col-xl-6">
             <div class="contact__wrapper pr-70 p-relative">
                <div class="section__title-wrapper mb-35">
                   <span class="section__title-pre section__title-pre-white">Get In Touch</span>
                   <h2 class="section__title section__title-white">Don’t Hesite Feel Free To Contact With us</h2>
                </div>
                <div class="contact__form contact__form-green">
                   <form action="#">
                      <div class="contact__input">
                         <input type="text" placeholder="Your Full Name">
                         <i class="far fa-user"></i>
                      </div>
                      <div class="contact__input">
                         <input type="text" placeholder="Your Email Address">
                         <i class="fal fa-envelope"></i>
                      </div>
                      <div class="contact__input">
                         <textarea placeholder="Your Message"></textarea>
                      </div>
                      <button type="submit" class="r-btn r-btn-white r-btn-plr-90">send message <i class="far fa-arrow-right"></i></button>
                   </form>
                </div>
             </div>
          </div>
          <div class="col-xxl-6 col-xxl-6 col-xl-6">
             <div class="contact__thumb">
                <div class="contact__thumb-1 m-img text-xl-end mb-80 mt-30">
                   <span>
                      <img src="assets/img/contact/contact-1.jpg" alt="">
                   </span>
                </div>
                <div class="contact__thumb-2 m-img text-end">
                   <img src="assets/img/contact/contact-2.jpg" alt="">
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- contact area end -->


{% endblock %}